CompileFlags:
  Add:
    - -std=c++26
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wshadow
Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - readability-*
